

form {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

body {
    margin: 0;
    margin-bottom: 40px;
}

html {
    min-height: 100%;
    position: relative;
}

#menu {
    height: 800px;
    margin-top: -72px;
    padding-top: 75px;
}

#hojav {
    padding-top: 5px;
    padding-bottom: 5px;
}

#update {
    cursor: pointer;
}

#pdf {
    height: 445px;
}